.top-of-page{
    text-align: center;
}

#fuzzyResponse{
    text-align: center;
}

.card-text{
    text-align: center;
}


.card-not-found-text {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}